[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true
[user]
        name = Peng Xiao
        email = xiaoquwl@gmail.com
[core]
        editor = vim
